/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* line 8, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#map {
  height: 600px;
  width: 600px;
}

/* Optional: Makes the sample page fill the window. */
/* line 13, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 18, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

/* line 24, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#infowindow-content .title {
  font-weight: bold;
}

/* line 28, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#infowindow-content {
  display: none;
}

/* line 32, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#map #infowindow-content {
  display: inline;
}

/* line 36, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

/* line 47, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

/* line 52, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

/* line 57, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 63, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

/* line 74, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#pac-input:focus {
  border-color: #4d90fe;
}

/* line 78, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

/* line 85, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#target {
  width: 345px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* line 7, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#map {
  height: 600px;
  width: 600px;
}

/* Optional: Makes the sample page fill the window. */
/* line 12, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 17, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

/* line 23, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#infowindow-content .title {
  font-weight: bold;
}

/* line 27, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#infowindow-content {
  display: none;
}

/* line 31, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#map #infowindow-content {
  display: inline;
}

/* line 35, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

/* line 46, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

/* line 51, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

/* line 56, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 62, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

/* line 73, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#pac-input:focus {
  border-color: #4d90fe;
}

/* line 77, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

/* line 84, /Users/emilydeans/Desktop/mapper_spot/app/assets/stylesheets/map.scss */
#target {
  width: 345px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

