<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Your Map!</title>
  </head>
  <body id="edit-map-page">
    <span><%= link_to "YOUR MAPS", maps_path %></span>
    <span><%= link_to "HOME", root_path %></span>
    <form>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    </form>
    <div id="map"></div>
    <form id="save-map-form">
      <input id="title-field" name="title">
      <input id="description-field" name="description">
      <input id="save-button" value="Update Map" type="submit" />
    </form>
    <div id="marker-form-wrapper" style="display: none">
      <form id="marker-form">
      <table>
        <tr><td>Name:</td> <td><input type='text' name='name'> </td></tr>
        <tr><td>Address:</td> <td><input type='text' name='address'> </td> </tr>
        <tr><td>Tell Us More:</td> <td><input type='text' name='tell'> </td></tr>
        <tr><td></td><td><input type='submit' value='Save' /></td></tr>
      </table>
    </form>
  </body>
</html>
