<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Your Map!</title>
  </head>
  <body id="edit-map-page">
  <div class="edit-map-page">
    <h2> <%= @map.title %> </h2>
    <form>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    </form>
    <div id="map"></div>
    <form id="edit-map-form">
      <span id='create-map'> Edit Map </span>
      <label> Map Name: </label>
      <input id="title-field" name="title" value="<%= @map.title %>">
      <label> Description: </label>
      <input id="description-field" name="description" value="<%= @map.description %>">
      <input id="edit-button" value="Update Map" type="submit" />
    </form>
    <div id="marker-form-wrapper" style="display: none">
      <form id="marker-form">
      <table>
        <tr><td>Name:</td> <td><input type='text' name='name'> </td></tr>
        <tr><td>Address:</td> <td><input type='text' name='address'> </td> </tr>
        <tr><td>Tell Us More:</td> <td><input type='text' name='tell'> </td></tr>
        <tr><td></td><td><input type='submit' value='Save' /></td></tr>
      </table>
    </form>
    <div id="message" style="display: none">Location saved</div>
  </div>
  </body>
</html>
