<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Check Out Your Maps!</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th id="table-headers">Map Name</th>
      </thead>
      <tbody>
        <% @maps.each do |map| %>
          <tr class="map-body">
            <td><%= map.title %></td>
            <td class='button'><%= link_to 'Edit', edit_map_path(map) %></td>
            <td class="button"><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <br>
    <span><%= link_to "HOME", root_path %></span>
  </body>
</html>
