<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
        <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmmnDCErIvgWlm30ynR42RILU5fXfbUYw&libraries=places&callback=initAutocomplete"></script>
  </head>
  <body>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
  </body>
</html>
