<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body id="map-new-page">
    <h1>Where Would You Go?</h1>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
  </body>
</html>
