<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body id="show-map-page">
    <div id="show_map">
    <h1><%= @map.title %></h1>
    <div id="map"></div>
    <form id="show-map-form">
    <span id="about_map"> About this map:  <%= @map.description %> </span>
    </form>
    <div id="marker-form-wrapper" style="display: none">
      <form id="marker-form">
        <table>
          <tr><td>Name:</td> <td><input type='text' name='name'> </td></tr>
          <tr><td>Address:</td> <td><input type='text' name='address'> </td> </tr>
          <tr><td>Tell Us More:</td> <td><input type='text' name='tell'> </td></tr>
        </table>
    </form>
  </div>
</div>
  </body>
</html>
