// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  margin: 20px;
  padding: 50px;

}

.navbar-container {
  display: flex;
  justify-content: space-around;
}


.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.globe {
  font-size: 40px;
		-webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}
