<!DOCTYPE html>
<html class="welcome-page">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class='welcome-message'>
      <h1>Welcome, Mapper</h1>
      <div class="welcome-about">Make you map. Share with Friends.</div>
      <!-- <div class="welcome-about">We're happy you're here...</div>
      <span> Now where should we go?</span> -->
    </div>
  </body>
</html>
