<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Welcome, Mapper</h1>
    <span> Where should we go?</span>
    <p><%=link_to "EXPLORE", new_map_path %></p>

    <%= javascript_include_tag "application" %>
  </body>
</html>
