<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="navbar  navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <span><%=link_to "LOGIN", sessions_index_path%></span>
          <span><%=link_to "EXPLORE", maps_index_path %></span>
          <span><%=link_to "JOIN", sessions_new_path%></span>
        </div>
      </div>
    </header>

    <h1>Welcome, Mapper</h1>
    <span> Where should we go?</span>

    <%= javascript_include_tag "application" %>
  </body>
</html>
